[Unit]

Description=fraps service

After=network.target syslog.target

Wants=network.target

 

[Service]

Type=simple

#启动服务的命令（此处写你的frps的实际安装目录）

ExecStart=/root/frp_0.58.0_linux_amd64/frps -c /root/frp_0.58.0_linux_amd64/frps.ini

 

[Install]

WantedBy=multi-user.target
